.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-timestamp p{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}